@using WebUI.Helpers;

<script src="~/Scripts/Views/vAirline.js"></script>

@{
    Layout = "~/Views/Shared/_LayoutTheme.cshtml";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">List of airlines</h1>
</div>

@Html.CtrlTable(viewName: "vAirline", id: "tblAirlines", title: "",
    columnsTitle: "ID,Airline,Business,Administrator,Email,Phone Number,Representant Legal,Inscription Date,Approvement,Status", ColumnsDataName: "ID,Name,BusinessName,Admin,Email,PhoneNumber,RepresentantLegal,InscriptionDate,Approvement,Status", onSelectFunction: "BindFields")