@using WebUI.Helpers;


<script src="~/Scripts/Views/vSeat.js"></script>

@{
      Layout = "~/Views/Shared/_LayoutTheme.cshtml";
}

<div class="row pull-right">
    <div class="col-md-7">Seat edition</div>
    <div class="col-md-5">
        <a id="btnToUpdate" class="btn btn-info text-decoration-none" href="/Dashboard/createSeat">Update</a>
        @Html.CtrlButton(viewName: "vFlight", id: "btnDelete", label: "Desactivate", onClickFunction: "Delete", buttonType: "danger")
    </div>
</div>

@Html.CtrlTable(viewName: "vFlight", id: "tblSeats", title: "Seats List",
    columnsTitle: "ID,Seat number,Fly number,Seat class,Status", ColumnsDataName: "Id,SeatNumber,FlyNumber,SeatClass,Status", onSelectFunction: "BindFields")

