@using WebUI.Helpers;


<script src="~/Scripts/Views/vSchedule.js"></script>
<script src="~/Scripts/Controllers/cSchedule.js"></script>

@{
     Layout = "~/Views/Shared/_LayoutTheme.cshtml";
}

<div class="row pull-right">
    <div class="col-md-7">Schedule edition</div>
    <div class="col-md-5">
        @Html.CtrlButton(viewName: "vSchedule", id: "btnUpdate", label: "Update", onClickFunction: "SetInformation", buttonType: "info")
        @Html.CtrlButton(viewName: "vSchedule", id: "btnDelete", label: "Desactivate", onClickFunction: "Delete", buttonType: "danger")
    </div>
</div>

@Html.CtrlTable(viewName: "vSchedule", id: "tblSchedules", title: "Schedule List",
    columnsTitle: "Id,Fly number,Aproovement,Gate,Destiny,Departure,Departure date,Arrive date", ColumnsDataName: "Id,FlyNumber,Aproovement,Gate,Destiny,Departure,DepartureDate,ArriveDate", onSelectFunction: "BindFields")
