@{
    ViewBag.Title = "VRole";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(document).ready(function () {

        const vRol = new VRole();
        vRol.RetrieveAll();
        vRol.DataBind();
    });
</script>
<script src="~/Scripts/Views/BaseClass.js"></script>
<script src="~/Scripts/Views/VRole.js"></script>

<h2> Role List</h2>


@Html.CtrlTable(viewName: "VRole", id: "tblRole", title: "User List",
    columnsTitle: "Nombre,Descripcion", ColumnsDataName: "Name,Description", onSelectFunction: "BindFields" )



